* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff5b2e;
  --heading-color: #000958;
  --paragraph-color: #656689;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #fffaf5;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
}

/* ====Common==== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.section-title {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: #5e6085;
}

.section-heading {
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19; /* 119.231% */
  color: var(--heading-color);
}

.section-desc {
  font-size: 1.6rem;
  line-height: 1.88; /* 187.5% */
  color: var(--paragraph-color);
}

/* ====Heaeder==== */
.header {
  padding: 26px 0;
}

.header.fixed {
  position: sticky;
  top: -20px;
  z-index: 99;
  padding-bottom: 6px;
  background-color: #fffaf5;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header__link {
  padding: 6px 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: #5e6085;
  transition: 0.25s;
}

.header__link.active {
  color: var(--heading-color);
}

.header__link:hover {
  color: var(--heading-color);
}

.header__btn {
  min-width: 117px;
  height: 50px;
  line-height: 49px;
  border-radius: 25px;
  text-align: center;
  color: var(--heading-color);
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #000958;
  transition: 0.25s;
}

.header__btn:hover {
  opacity: 0.7;
}

/* ====Hero==== */
.hero {
  margin-top: 94px;
  padding-bottom: 94px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hero media */
.hero__media {
  position: relative;
  display: flex;
  align-items: flex-end;
}

/* Hero image */

.hero__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  background: #fe997b;
  border: 3px solid #fff;
}

.hero__img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.hero__decor-01 {
  position: absolute;
  top: 247.5px;
  left: -58px;
  z-index: -1;
}

.hero__decor-02 {
  position: absolute;
  top: 16.6px;
  right: -40px;
  z-index: -1;
}

.hero__image--small {
  margin: 0 0 -58px -24px;
  width: 186px;
  height: 244px;
  border-radius: 16px;
  background: #faa7ad;
  border: 2px solid #fcdcdf;
}

/* Hero list */
.hero__list {
  position: absolute;
  top: 426px;
  left: 129px;
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-item {
  display: flex;
  gap: 9px;
}

.hero-item__img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
}

.hero-item__thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.hero-item__img--color {
  background: #c6e2fa;
}

.hero-item__title {
  padding-top: 2px;
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: #181e52;
}

.hero-item__separate {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background: #f2f2f2;
}

.hero-item__skeleton {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-item__skeleton--short {
  width: 39px;
}

/* Hero content */
.hero__heading {
  width: 517px;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15; /* 115.152% */
  color: var(--heading-color);
}

.hero__desc {
  width: 391px;
  margin-top: 24px;
}

.hero-cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-cta__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 189px;
  height: 60px;
  line-height: 60px;
  border-radius: 31px;
  background: #ff5b2e;
  transition: 0.25s;
}

.hero-cta__btn:hover {
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-cta__btn-link {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.hero-cta__btn-icon {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.hero-cta__btn-img {
  display: flex;
  align-self: center;
  justify-content: center;
  color: #fd5056;
}

.hero-cta__link {
  padding: 8px 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  color: var(--heading-color);
}

.hero-cta__link:hover {
  text-decoration-line: underline;
}

/* ====About==== */
.about {
  margin-top: 77px;
  padding: 130px 0;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* avout content 1 */
.about__heading {
  margin-top: 15px;
  width: 446px;
}

.about__desc {
  margin-top: 24px;
  width: 431px;
}

.about__checklist {
  margin-top: 57px;
  width: 477px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  column-gap: 36px;
  row-gap: 40px;
}

.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  color: #48496a;
}

.about__check-item::before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ff5d31;
  box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
  position: absolute;
  top: 3px;
  left: 5px;
  content: url(../img/tich.svg);
}

/* about media 1 */
.about__media {
  position: relative;
}

.about__card {
  position: absolute;
  padding: 31px 26px 29px;
  width: 136px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
  text-align: center;
  top: 83px;
  left: 0;
}

.about__card-title {
  font-family: "Sora", sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1; /* 100% */
  color: #fff;
}

.about__card-desc {
  margin-top: 14px;
  font-size: 1.4rem;
  line-height: 1.43; /* 142.857% */
  color: #c6f4f9;
}

.about__card-decor {
  position: absolute;
  top: -38px;
  right: -31px;
}

/* about image */
.about__image {
  margin-left: auto;
  position: relative;
  width: 494px;
}

.about__image-decor {
  position: absolute;
  top: 150px;
  right: -52px;
}

.about__image::after {
  position: absolute;
  inset: auto 0 0 0;
  display: inline-block;
  z-index: -1;
  content: "";
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
}

.about__img {
  display: block;
  margin: 0 auto;
  width: 450px;
}

/* ====feature==== */
.feature {
  margin-top: 16px;
  padding: 24px 0;
  align-items: center;
}

.feature__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* Feature image */
.feature__image {
  position: relative;
  width: 500px;
}

.feature__img {
  width: 458px;
  height: 500px;
  object-fit: cover;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.feature__vector-1 {
  position: absolute;
  top: 28.5px;
  left: 388.73px;
}

.feature__vector-2 {
  position: absolute;
  top: 0;
  right: 55px;
}

.feature__vector-3 {
  position: absolute;
  top: 49px;
  right: 21px;
}

.feature__vector-4 {
  position: absolute;
  top: 284px;
  empty-cells: 9px;
}

.feature__vector-5 {
  position: absolute;
  top: 352px;
  right: 61px;
}

.feature__circiles {
  display: block;
  margin: -56px 0 0 auto;
}

/* feature__content */
.feature__content {
  width: 557.074px;
}

.feature__desc {
  margin: 24px 0 50px;
  width: 511px;
}

.tab__List {
  position: relative;
  display: flex;
  column-gap: 56px;
}

.tab__List::after,
.tab__item--active::after,
.tab__content-more::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  content: "";
  height: 2px;
  opacity: 0.07;
  background: #ff5b2e;
  border-radius: 1px;
}

.tab__item--active::after {
  width: 95px;
  opacity: 1;
}

.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 14px;
  cursor: pointer;
}

.tab__icon {
  width: 18px;
}

.tab__title {
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: #48496a;
}

.tab__content {
  padding-top: 36px;
}

.tab__content-item {
  display: none;
}

.tab__content-item--active {
  display: block;
}

.tab__content-desc {
  width: 391px;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}

.tab__content-more {
  position: relative;
  display: inline-block;
  margin-top: 32px;
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  padding-bottom: 5px;
}

.tab__content-more::after {
  opacity: 1;
  height: 1.5px;
}

/* ====service==== */
.service {
  margin-top: 106px;
  padding: 68px 0 100px;
  background: #fff6ed;
}

.service__top {
  text-align: center;
}

.service__heading {
  margin-top: 15px;
}

/* Service body */
.service__body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 71px;
  column-gap: 65px;
}

/* Service column 1 */
.service-item {
  padding: 30px 28px;
  width: 294px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.service-item + .service-item {
  margin-top: 24px;
}
.service-item__heading {
  position: relative;
  padding-left: 12px;
}

.service-item__heading-link {
  font-family: "Sora", sans-serif;
  padding: 8px 0;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--heading-color);
}

.service-item__heading::before {
  position: absolute;
  bottom: 1px;
  left: 0;
  display: inline-block;
  content: "";
  width: 2px;
  height: 22px;
  border-radius: 1px;
  background: linear-gradient(#ff5b2e, #ffa187);
}

.service-item__desc {
  margin-top: 18px;
  width: 244px;
  font-size: 1.4rem;
  line-height: 1.71; /* 171.429% */
  color: var(--paragraph-color);
}

.service-item__cta {
  margin-top: 18px;
  display: flex;
  align-items: center;
}

.service-item__link {
  margin-right: 6px;
  font-family: "Sora", sans-serif;
  font-size: 1.2rem;
  line-height: 1; /* 100% */
  color: #34396a;
}

/* Service column 2 */
.service__media {
  position: relative;
  margin-top: 18px;
}

.service__media::after {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  display: inline-block;
  content: "";
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}

.service__cta-wrap {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.service__cta {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  min-width: 214px;
  height: 56px;
  line-height: 56px; /* 100% */
  text-align: center;
  color: var(--primary-color);
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  background-color: transparent;
}

.service__cta:hover {
  opacity: 0.6;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* ====member==== */
.member {
  margin-top: 65px;
  padding: 65px 0;
}

.member__title {
  text-align: center;
}

.member__group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  margin-top: 45px;
}

.member-item {
  text-align: center;
}

.member-item__human {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}

.member-item__human::before {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  content: "";
  width: 100%;
  border-radius: inherit;
  height: 266px;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  z-index: -1;
}

.member-item:nth-child(2) .member-item__human::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.member-item:nth-child(3) .member-item__human::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.member-item:nth-child(4) .member-item__human::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.member-item__human::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: inline-block;
  content: url(../img/icon-1.svg);
}

.member-item:nth-child(1) .member-item__human::after {
  content: url(../img/icon-1.svg);
}
.member-item:nth-child(2) .member-item__human::after {
  content: url(../img/icon-member.svg);
}
.member-item:nth-child(3) .member-item__human::after {
  content: url(../img/icon-member3.svg);
}
.member-item:nth-child(4) .member-item__human::after {
  content: url(../img/icon-member4.svg);
}

.member-item:nth-child(even) .member-item__human::after {
  bottom: initial;
  top: 16px;
}

.member-item__img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.member-item__title {
  margin-top: 34px;
  font-size: 1.4rem;
  line-height: 1; /* 100% */
  color: #656689;
}

.member-item__name {
  margin-top: 14px;
  font-family: "Sora", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: var(--heading-color);
}

.member__cta {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.member__link {
  min-width: 193px;
  height: 56px;
  line-height: 56px;
  color: #ff5b2e;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
}

.member__link:hover {
  opacity: 0.6;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}
