* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff5b2e;
  --heading-color: #000958;
  --paragraph-color: #656689;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #fffaf5;
  font-family: "Poppins", sans-serif;
}

/* ====Common==== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* ====Heaeder==== */
.header {
  padding: 26px 0;
}

.header.fixed {
  position: sticky;
  top: -20px;
  z-index: 99;
  padding-bottom: 6px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 36px;
}

.header__link {
  padding: 6px 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  color: #5e6085;
}

.header__link.active {
  color: var(--heading-color);
}

.header__link:hover {
  color: var(--heading-color);
}

.header__btn {
  min-width: 117px;
  height: 50px;
  line-height: 49px;
  border-radius: 25px;
  text-align: center;
  color: var(--heading-color);
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #000958;
}

.header__btn:hover {
  opacity: 0.7;
}
